<form method="post" action="/association" id="association-form">
    <%
    if @fromunit.nil?
    %>
    <select name="from_id">
    <%
    Unit.all.each do |u|
    %>
	<option value="<%=u.id%>"><%=u.value%></option>
    <%
    end
    %>
    </select>
    <%
    else
    %>
    <%=@fromunit.value%>
    <input type="hidden" name="from_id" value="<%=@fromunit.id%>"/>
    <%
    end
    %>
    <select name="association_type_id">
    <%
    AssociationType.all.each do |u|
    %>
	<option value="<%=u.id%>">has <%=u.name%></option>
    <%
    end
    %>
    </select>
    <%
    if @tounit.nil?
    %>
        <select name="to_id">
    <%
        Unit.all.each do |u|
    %>
	<option value="<%=u.id%>"><%=u.value%></option>
    <%
	end
    %>
    </select>
    <%
    else
    %>
    <%=@tounit.value%>
    <input type="hidden" name="to_id" value="<%=@tounit.id%>"/>
    <%
    end
    %>
    <button type="submit">Create Association</button>
</form>
