<div>
	<h1><%=@mclass.name%></h1>
	<h2>Attributes</h2>
	<%@mclass.mattributes.each do |a|%>
	<span><%=a.visibility.name%> <%=a.mtype.name%> <%=a.name%></span><br/>
	<%end%>
	<%= erb :_mattribute_form%>
</div>
