<h1><%=@unit.value %></h1>
<%
@unit.from_associations.each do |assoc|
    text = assoc.to.value.nil? ? "No Value" : assoc.to.value
%>
    <p><%=assoc.association_type.name%> <a href="/unit/<%=assoc.to.id%>"><%=text%></a></p>
<%
end
%>
<%=erb :_association_form%>
