<div>
    <h2>All Units</h2>
    <h3>Search</h3>
    <%=erb :_unit_search_form%>
    <%if @units.empty?%>
    <p>No Units!</p>
    <%else
	UnitType.all.each do |utype|
	    units = utype.units & @units
	    if units.empty? == false
	    %>
	    <h3><%=utype.name%> Units</h3>
	    <ul>
		<%
		units.each do |unit|
		text = unit.value.nil? ? "No Value" : unit.value
		%>
		<li><a href="/unit/<%=unit.id%>"><%=text%></a></li>
		<%end%>
	    </ul>
	    <%
	    end
	    @unit_type = utype
	    %>
	    <%=erb :_unit_form%>
	<%
	end
    end
    %>
</div>
