<h1><%=@unit.value %> (<%=@unit.unit_type.name%>)</h1>
<%
@unit.from_associations.each do |assoc|
    text = assoc.to.value.nil? ? "No Value" : assoc.to.value
%>
    <p>has <%=assoc.association_type.name%> <%=link_to_unit assoc.to, text%></p>
<%
end
@unit.to_associations.each do |assoc|
    text = assoc.from.value.nil? ? "No Value" : assoc.from.value
%>
    <p>is <%=assoc.association_type.name%> of <%=link_to_unit assoc.from, text%></p>
<%
end
@tounit = @unit
%>
<%=erb :_association_form%>
<%
@tounit = nil
@fromunit = @unit
%>
<%=erb :_association_form%>
<h2>Text Units</h2>
<%
@unit.text_units.each do |tu|
    @textunit = tu
%>
    <%=erb :_text_unit_form%>
<%
end
@textunit = nil
%>
<%=erb :_text_unit_form%>
